
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

@using Bilten.Web.Areas.AdministratorModul.ViewModels.PodorganizacionaJedinica;
@model PodorganizacionaJedinicaIndexVM

<div>
    <h2 style="display:inline-block;">Podorganizacione jedinice</h2>
    <a href="/AdministratorModul/" class="btn btn-primary" style="float:right;margin-right:50px"><i class="fa fa-backward"></i></a>
    <hr />
</div>
<table class="table table-bordered" style="width:60%    ">
    <thead>
        <tr>
            <th style="width: 200px;">Naziv</th>
            <th style="width: 50px;">Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
        {
            <tr>
                <td>@x.PodorganizacionaJedinica</td>
                <td style="width: 120px;">
                    <a href="/AdministratorModul/PodorganizacionaJedinica/Detalji?=@x.PodorganizacionaJedinicaID" class="btn-sm btn-primary" style="margin-left:10px;">Detalji</a>
                    <a href="/AdministratorModul/PodorganizacionaJedinica/Uredi?=@x.PodorganizacionaJedinicaID" class="btn-sm btn-warning" style="margin-left:10px; color:white;">Uredi  </a>  
                    <a href="/AdministratorModul/PodorganizacionaJedinica/Obrisi?=@x.PodorganizacionaJedinicaID" style="margin-left:10px;"><i class="fa fa-fw fa-close fa-1x text-danger"></i></a>
                </td>
            </tr>
        }

    </tbody>
</table>
<br />
<a href="/AdministratorModul/PodorganizacionaJedinica/Dodaj" class="btn btn-success">Dodaj</a>
<br />
<hr />
