@using Bilten.Web.Helper

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Operater.cshtml";
    int idKorisnika = Context.GetLogiraniKorisnik().Id;
}
<html>
<head>
    <link href="~/css/MyAdminCSS.css" rel="stylesheet">
</head>
<body style="margin:0 auto;">
    <br />
    <h3 style="text-align:center; color:#29456d">Saobraćaj / Promet</h3>
    <hr />
    <br />

    <span>
        <a class="myButton" href="/OperaterModul/PotrageVozila/Index" style="margin-right:10px;  width:300px; text-align:center;">
            <i class="fa fa-fw fa-th-list"></i>
            Potrage vozila
        </a>

        <a class="myButton" href="/OperaterModul/Dogadjaj/Lista2" style="margin-right:10px;  width:300px; text-align:center;">
            <i class="fa fa-fw fa-th-list"></i>
            Saobraćaj/Promet
        </a>
    </span>
    <br />
    <br />
    <hr />
    <br />
    <span>
        <a class="myButton1" href="/OperaterModul/Vozila/Index" style="margin-right:10px;  width:260px; text-align:center;">
            <i class="fa fa-fw fa-car"></i>
            Vozila
        </a>

        <a class="myButton1" href="/OperaterModul/LPR/Index" style="margin-right:10px;  width:260px; text-align:center;">
            <i class="fa fa-fw fa-camera"></i>
            LPR
        </a>

        <a class="myButton1" href="/OperaterModul/Photo/Index" style="margin-right:10px;  width:260px; text-align:center;">
            <i class="fa fa-fw fa-camera"></i>
            LPR
        </a>

    </span>

</body>
</html>