
@{
    ViewData["Title"] = "Uredi";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

@using Bilten.Web.Areas.AdministratorModul.ViewModels.OrganizacionaJedinica;
@model OrganizacionaJedinicaDodajVM


<div>
    <h2 style="display:inline-block">Uredi organizacionu jedinicu "<b>@Model.Naziv</b>"</h2>
    <a href="/AdministratorModul/OrganizacionaJedinica" class="btn btn-primary" style="float:right;margin-right:50px"><i class="fa fa-backward"></i></a>
    <hr />
</div>
<form action="/AdministratorModul/OrganizacionaJedinica/SnimiPromjene">
    <label>Naziv:</label>
    <input type="text" class="form-control col-lg-6" name="Naziv" value="@Model.Naziv" />
    <input type="text" name="OrganizacionaJedinicaID" value="@Model.OrganizacionaJedinicaID" hidden />
    <br />
    <br />    
    <input type="submit" value="Snimi" class="btn btn-success" />
</form>
<br />
<hr />