
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}
@using Bilten.Web.Areas.AdministratorModul.ViewModels.Korisnici;
@model KorisniciPromjeniPasswordVM

<h4>Promjeni password</h4>
<hr />

<form action="/AdministratorModul/Korisnici/SnimiPassword" style="width:50%">
    <input type="text" name="korisnikId" value="@Model.KorisnikId" hidden />
    <input type="text" name="nalogId" value="@Model.KorisnickiNalogId" hidden />
    <input type="text" name="stariPass" value="@Model.StariPass" hidden />

    <label>Unesi stari password:</label>
    <input type="password" name="UnosStariPass" class="form-control" />
    <br />

    <label>Unesi novi password:</label>
    <input type="password" class="form-control" name="NoviPass" />
    <br />


    <label>Potvrdi novi password:</label>
    <input type="password" class="form-control" name="NoviPassProvjera" />
    <br />

    <br />
    <input type="submit" value="Snimi" class="btn btn-danger"/>
</form>
<br />
<hr />
<a href="/AdministratorModul/Korisnici/UrediKorisnika?=@Model.KorisnikId">
    <i class=" fa fa-fw fa-long-arrow-left fa-2x text-secondary"></i>
</a>
<br />
<br />