
@{
    ViewData["Title"] = "Uredi";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}
@using Bilten.Web.Areas.AdministratorModul.ViewModels.Kategorije;
@model KategorijeDodajVM

<div>
    <h2 style="display:inline-block">Uredi kategoriju "<b>@Model.Naziv</b>"</h2>
    <a href="/AdministratorModul/Kategorije/Index" class="btn btn-primary " style="float:right;margin-right:20px"><i class="fa fa-backward"></i></a>

    <hr />
</div>
<form action="/AdministratorModul/Kategorije/SnimiPromjene">
    <label>Naziv:</label>
    <input type="text"  class="form-control col-lg-6" name="naziv" value="@Model.Naziv" />
    <input type="text"   name="KategorijeId" value="@Model.KategorijeID" hidden />
    <br /><br />
    <input type="submit" name="name" value="Snimi" class="btn btn-danger" />
</form>
<br />
<br />
<hr />
