@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Saobracaj.cshtml";
}
@using Bilten.Web.Areas.OperaterModul.ViewModels;
@model LPRtestVM;


<h2>LPR test</h2>

<input type="text" name="name" value="@Model.tablica" />
