@{
    ViewData["Title"] = "Dodaj";
    Layout = "~/Views/Shared/_Layout-Operater.cshtml";
}
@using Bilten.Web.Areas.OperaterModul.ViewModels.VozilaSlike
@model VozilaSlikeDodajVM
@using Microsoft.AspNetCore.Mvc.TagHelpers;

<br />
<h4>Dodaj slike za odabrano vozilo"</h4>


<form asp-action="Snimi" asp-controller="VozilaSlike" enctype="multipart/form-data" style="width:700px;  padding:10px;">
    <input type="text" name="voziloId" value="@Model.VoziloId" />

    <div class="col-md-10">
        <label asp-for="SlikaVozila"></label>
        <div class="custom-file">
            <input asp-for="SlikaVozila" class="form-control custom-file-input" />
            <label class="custom-file-label">Postavi sliku..</label>
        </div>
    </div>

    <input type="submit" class="btn btn-success" value="Snimi" />
</form>>

<script>$(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });</script>