

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<a asp-area="AdministratorModul" asp-controller="Home" asp-action="Index">Idi na AdministratorModul</a> <br />
@*<a asp-area="StudentModul" asp-controller="Home" asp-action="Index">Idi na StudentModul</a>*@