@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Kontrolor.cshtml";
}
<html>
<head>
    <link href="~/css/MyAdminCSS.css" rel="stylesheet">
</head>
<body>
    <br />
    <h3 style="text-align:center; color:#29456d">Policijski bilten (Modul Kontrolor)</h3>
    <hr />
    <br />

    <span>

        <a class="myButton" href="/KontrolorModul/Dogadjaj/Index" style="margin-right:15px;">
            <i class="fa fa-fw fa-list fa-2x"></i>
            Svi događaji
        </a>

        <a class="myButton" href="/KontrolorModul/Dogadjaj/ZvanicniBilten">
            <i class="fa fa-fw fa-check-square fa-2x"></i>
            Zvanični bilten
        </a>
    </span>


</body>
</html>